body{
    background:#f5f7fb;
    margin:0;
    font-family:"Segoe UI", Tahoma, sans-serif;
}

/* SIDEBAR  */
.sidebar{
    width:240px !important;
    height:100vh !important;
    background:#fff !important;
    position:fixed !important;
    top:0;
    left:0;
    padding:20px;
    border-right:1px solid #eee;
    z-index:1000;
}

.sidebar a,
.sidebar button{
    width:100%;
    margin-bottom:10px;
    border-radius:10px;
    text-align:left;
}

/*  MAIN AREA */
.main{
    margin-left:240px;
    padding:25px;
}

/* TOPBAR */
.topbar{
    background:#fff;
    padding:15px 20px;
    border-radius:12px;
    margin-bottom:20px;
}

/* CARDS*/
.card-box{
    border:none;
    border-radius:16px;
    box-shadow:0 5px 20px rgba(0,0,0,.05);
    cursor:pointer;
    transition:0.2s;
    background:#fff;
}
.card-box p{
    margin:6px 0;
    font-size:15px;
}
.card-box:hover{
    transform:translateY(-5px);
}

/* ALERTS */
.alert{
    border-radius:10px;
}