body{
    background:#f5f7fb;
    font-family:Segoe UI;
}

.box{
    background:#fff;
    padding:25px;
    border-radius:18px;
    box-shadow:0 5px 20px rgba(0,0,0,.05);
}

.table-responsive{
    border-radius:12px;
    overflow:hidden;
}

.table thead{
    background:#f1f3f5;
}

.table th, .table td{
    padding:14px;
    font-size:14px;
}

.icon-btn{
    border:none;
    background:transparent;
    font-size:18px;
    transition:0.2s;
}

.icon-btn:hover{
    transform:scale(1.2);
}

.icon-delete{
    color:#dc3545;
}
